

body {

background-color: #e25353 /*Blue: #42bff4*/;
text-align:center;


position: fixed;
width:100%;
height:100%;
background-position: center center;
background-repeat: no-repeat;

background: url(mountainbackground.jpg);
background-size:1920px 1080px;



}

div{
	text-align:center;
	width: 420px;
	height: 380px;
	
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	
	background-color: #e8f2f7;
	/*box-shadow:10px 10px 10px  #888888;*/
	border-radius: 3px;
	vertical-align:middle;
	
	opacity:0.9;
}
h1{
	text-align:center;
	font-family:Verdana;
	text-shadow:5px 5px 5px #888888;
}
input{
	font-size:20px;
    font-family:Verdana;
	text-align:center;
	width:350px;
	height:50px;
	padding:0;
	-moz-transition:all .1s ease-in;
	-o-transition: all .1s ease-in;
	-webkit-transition:all .1s ease-in;
	transition: all .1s ease-in;	
	opacity:0.9;

}
input:hover{
	-moz-box-shadow: 5px 5px 5px #888888;
	-webkit-box-shadow: 5px 5px 5px #888888;
	box-shadow: 5px 5px 5px #888888;
	opacity:1;
}
button{
	text-align:center;
	font-family:Verdana;
	font-style: italic;
	font-weight:bold;
	font-size:30px;
	background-color:#557180; /*#42bff4;*/
	color:white;
	width:150px;
	height:50px;
	margin-left:auto;
	margin-right:auto;
	
	-moz-transition:all .1s ease-in;
	-o-transition: all .1s ease-in;
	-webkit-transition:all .1s ease-in;
	transition: all .1s ease-in;
	
	opacity:1;
}
button:hover{
	-moz-box-shadow: 5px 5px 5px #888888;
	-webkit-box-shadow: 5px 5px 5px #888888;
	box-shadow: 5px 5px 5px #888888;
	background-color: /*#ffaf54*/#E1A075;
	color:black;
}
ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: /*#2cade0*/#557180;
    margin-left:auto;
    margin-right:auto;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px;
    text-decoration: none;
    text-transform:capitalize;
    font-size:16px;
 
}

li a:hover {
	color: black;
    background-color: /*#ffaf54*/#E1A075;
}
p{
	padding-left:5px;
	padding-right:5px;
}
.userfunctions{
	display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform:capitalize;
    font-size:16px;
    width:auto;
    float: left;
}
